*{
    margin: 0;
    padding: 0;  
}

body{
    height: 200vh;
    background-color: #111;
}

section{
    position: absolute;
    width: 100%;
    height: calc(100% - 200px);
    background-color: #2abbff;
 ;
}
.curve{
position: absolute;
bottom: -200px;
height: 200px;
width: 100%;
transform-origin: top
}

 img{
     width:   100%;
     height: 100%;
 }


 .first{
     font-size: 80px;
     color: rgb(39, 34, 34);
     text-align: center;
     top: 50px;
     display: block;
     padding-top: 16%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 .last{
     color: #2abbff;
     font-size: 80px;
     z-index: -1;
     padding-top: 30%;
 }
